{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container flex justify-center">
  <div
    class="flex flex-col gap-4 md:w-[60%] w-full px-4 py-2 justify-center rounded-lg"
  >
    <h3 class="text-5xl font-semibold text-slate-700">
      Which poll would you like to take?
    </h3>
    <div class="flex gap-4">
      <!-- Poll -->
      {% for poll in polls %}
      <button
        class="flex py-2 px-4 w-max transition-all active:scale-75 hover:scale-105 justify-center rounded-full bg-white group border hover:bg-gray-800"
      >
        <span
          class="text-sm font-semibold text-slate-500 group-hover:text-white"
        >
            {{ poll.name }}
        </span>
      </button>
      {% endfor %}
    </div>
  </div>
  {% endblock content %}
</div>
