{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container flex justify-center">
  <div
    class="flex flex-col gap-4 md:w-[60%] w-full px-4 py-2 justify-center rounded-lg"
  >
    <h3 class="text-5xl font-semibold text-slate-700">{{ poll.desc }}</h3>
    <span class="text-sm font-semibold text-slate-500">
      (Select one option)
    </span>
    <div class="flex flex-wrap gap-2">
      <!-- Candidate -->
      {% for candidate in candidates %}
      <a
        href="{% url 'vote' poll.slug candidate.id %}"
        class="border-none flex py-2 px-4 w-max transition-all active:scale-75 hover:scale-105 justify-center items-center gap-2 rounded-full bg-white group border hover:bg-gray-800"
      >
        <figure class="w-10 h-10">
          <img
            src="{{ candidate.image_url }}"
            alt="Candidate"
            class="w-full h-full rounded-full"
          />
        </figure>
        <span
          class="text-sm font-semibold text-slate-500 group-hover:text-white"
        >
          {{ candidate.name }}
        </span>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endblock content %}
</div>
